<section>
    <h1>Hard & Soft Skills</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <h2>HTML</h2>
          <img src="./assets/imagenes/maradona sonriendo.png" class="img-fluid" alt="" style="width: 50%" style="height:50%">
        </div>
        <div class="col-4">
          <h2>CSS</h2>
          <img src="./assets/imagenes/maradona navidad.png " class="img-fluid" alt="" style="width: 80%">
        </div>
        <div class="col-4">
         <h2>Javascript</h2>
         <img src="./assets/imagenes/maradona pensativo.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <h2>ProTools</h2>
          <img src="./assets/imagenes/maradona puños.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
          <h2>Inglés escrito</h2>
          <img src="./assets/imagenes/maradona gol a grecia.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
         <h2>Inglés oral</h2>
         <img src="./assets/imagenes/maradona serio.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    </section>