<section>

    <div class="row" >
        <div id="otrosProyectos">
        <h4>Otros Proyectos/Cursos/Talleres realizados</h4>
        <div id="botonesTalleres">
            <div class="btn-group" role="group" ></div>
             <button type="button" class="btn btn-outline-light">
                <i class="bi bi-pencil-fill"></i></button>   
             <button type="button" class="btn btn-danger">
                <i class="bi bi-trash"></i></button>
            </div>   
            </div>
            <ul id="talleres">
                <li>Curso de Inglés para Desarrolladores de Software, por ArgentinaPrograma</li>
                <li>#IdeaTuVideojuego</li>
                <li>Taller de Redacción Periodística, con Gustavo Sarmiento</li>
                <li>Curso de Analista Táctico y Scout, con Juan Ferlaino (CADEF)</li>
                <li>Taller de Relato Deportivo, con Walter Nelson</li>
            </ul>
    </div>
    </section>