<section>
    <h1>Experiencia</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <img src="./assets/imagenes/automacion3.png" class="img-fluid" alt="">
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 offset-sm-1 offset-md-1 offset-lg-1">
          <h2>Automación Argentina</h2>
          <h6>Auxiliar de Gerencia/Oficina Técnica | 2014-Presente</h6>
          <ul>
            <li>Coordinación entre sectores de venta y fabricación.</li>
            <li>Armado de hojas de rutas y planos de piezas a fabricar.</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <button>Editar</button>
          <button>Eliminar</button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <img src="./assets/imagenes/malcombroadway4.png" class="img-fluid" id="Broadway" alt="Malcom Minissale tocando en el Teatro Broadway">
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 offset-sm-1 offset-md-1 offset-lg-1">
          <h2>Músico Profesional</h2>
          <h6>Guitarrista, Bajista, Productor | 2011-Presente</h6>
          <ul>
            <li>Músico contratado para shows y grabaciones.</li>
            <li>Clases particulares de Guitarra, Bajo e Iniciación musical.</li>
            <li>Trabajos en TV con artistas nacionales e internacionales.</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <button>Editar</button>
          <button>Eliminar</button>
        </div>
      </div>
    </div>
    </section>
    