<section>
    <h1>Experiencia</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <img src="./assets/imagenes/automacion.png" class="img-fluid" alt="">
        </div>
        <div class="col-8">
          <h2>Automación Argentina</h2>
          <p>Auxiliar de Gerencia</p>
          <p>Oficina Técnica</p>
          <p>2014-Presente</p>
        </div>
        <div class="col-2">
          <button>Editar</button>
          <button>Eliminar</button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <img src="./assets/imagenes/malcom broadway.jpg" class="img-fluid" alt="Malcom Minissale tocando en el Teatro Broadway">
        </div>
        <div class="col-8">
          <h2>Músico Profesional</h2>
          <p>2011-Presente</p>
        </div>
        <div class="col-2">
          <button>Editar</button>
          <button>Eliminar</button>
        </div>
      </div>
    </div>
    </section>
    