<section>
    <h1>Educación</h1>
    <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <img src="./assets/imagenes/ARGENTINA-PROGRAMA.png" class="img-fluid" alt="">
          </div>
          <div class="col-8">
            <h2>Argentina Programa</h2>
            <p>Desarrollador Web Full Stack</p>
            <p>SeProgramar</p>
            <p>YoProgramo</p>
          </div>
          <div class="col-2">
            <button>Editar</button>
            <button>Eliminar</button>
          </div>
        </div>
      </div>
  
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <img src="./assets/imagenes/isped.png" class="img-fluid" alt="">
          </div>
          <div class="col-8">
            <h2>ISPED</h2>
            <p>Tecnicatura en Periodismo</p>
             <p>2020-Presente</p>
          </div>
          <div class="col-2">
            <button>Editar</button>
            <button>Eliminar</button>
          </div>
        </div>
      </div>
  
    <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <img src="./assets/imagenes/tecson2.png" class="img-fluid" alt="">
          </div>
          <div class="col-8">
            <h2>Tecson</h2>
    <p>Técnico en Grabación</p>
    <p>2009-2011</p>
          </div>
          <div class="col-2">
            <button>Editar</button>
            <button>Eliminar</button>
          </div>
        </div>
      </div>
  </section>
  <section>