<section>
    
  <div class="container-fluid">
    <div class="row">
      <h1>Educación</h1>
      <div class="col-lg-2"> 
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Editar Educación
          </button>
      </div>
      <div class="col-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h5>{{Educacion.nombreE}}</h5></td>
                    <td>{{Educacion.descripcionE}}</td>
                    <div class="btn-group">
                    <td *ngIf="isLogged"><button type="button" class="btn btn-outline-light" 
                      routerLink="/editedu/{{Educacion.id}}">
                      
                      <i class="bi bi-pencil"></i></button></td>
                      
                      <td *ngIf="isLogged"><button type="button" class="btn btn-danger"
                        (click)="delete(Educacion.id)">
                        
                        <i class="bi bi-trash"></i></button></td>
                      </div>

                </tr>

            </tbody>

        </table>
      </div>
    </div>
  </div>
  </section>
  







<!-- <section>
  <h1>Educación</h1>
    <div class="container-fluid">
      
      <div *ngFor="let item of educacion"  class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="fotocolegio">
          <img [src]="item.img" class="img-fluid" alt="">
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 offset-sm-1 offset-md-1 offset-lg-1" id="datos">
          <h2>{{item.school}}</h2>
          <p>{{item.title}}</p>
          <p>{{item.start}} - {{item.end}}</p>
        </div>
        <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
          <div id="botones">
          <button type="button" class="btn btn-outline-light">
            <img src="../../../assets/imagenes/lapiz1.png" alt=""></button>   
         <button type="button" class="btn btn-outline-light">
            <img src="../../../assets/imagenes/delete1.png" alt=""></button>  
        </div>
      </div>
    </div>
      
    </div>
<section> -->