<!-- <section class="mb-2">
    <h1>Acerca De</h1>
    <p id="acercaDe">Frontend: Html, CSS, Javascript</p>
    <button class="btn btn-dark" onclick="cambiarAcercaDe()">Editar</button>
  </section> -->

  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/imagenes/malcom tocando.jpg" alt=""
      class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p>Malcom Minissale</p>
      <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, veritatis accusamus. Dolore reprehenderit enim blanditiis sequi ipsam nostrum numquam animi id? Est commodi vero necessitatibus consectetur, aut ipsum voluptas ratione?</p>
      </span>
    </div>
  </div>