<!-- <section class="mb-2">
    <h1>Acerca De</h1>
    <p id="acercaDe">Frontend: Html, CSS, Javascript</p>
    <button class="btn btn-dark" onclick="cambiarAcercaDe()">Editar</button>
  </section> -->
  <section>
    <div class="row">
      
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" >
        <div>
        <img src="../../../assets/imagenes/malcomtocando.jpg" id="fotodeperfil"
        class="img-fluid">
        <!-- <button type="button" class="btn btn-outline-light" id="botonFoto">
          <img src="../../../assets/imagenes/lapiz1.png" alt="">
        </button> --> 
      </div>
      
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
        <div>
         
          <h1 id="nombre">{{persona.nombre}} {{persona.apellido}} 
            <button type="button" class="btn btn-outline-light" id="botonNombre">
              <i class="bi bi-pencil-fill"></i>
          </button> 
        </h1> 
          
          </div>     
        <h4 id="posicion">Full Stack Developer</h4>
       </div>
      
      
      
      
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 offset-sm-1 offset-md-1 offset-lg-1">
         <div id="acerca">        
           <div>
             <h2>Acerca de mí</h2>
               <div id="botonesAcerca">
                <div class="btn-group">
                 <button id="lapizAcerca" type="button" class="btn btn-outline-light">
                  <i class="bi bi-pencil-fill"></i></button>   
                 <button type="button" class="btn btn-danger">
                  <i class="bi bi-trash"></i></button>
                    </div>
               </div>
               </div>
               <div>
                 <p>Soy una persona con un amplio abanico de intereses: Programación, música, deportes y comunicación.
                   Con ganas de aprender y crecer constantemente.
                 </p>
              </div>
        
            </div>
          </div>
        </div>
    </section>