.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoAP{
    width: 150px;
}
img{
    width: 50px;
}

.redes{
    margin-right: 0.5em;
}

.btn{
    border-width: medium;
    margin-left: 00.5em;
}

/* para la vista de celular */
@media (max-width: 575px){


.container{
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.redes img{
    margin: 0.25em;
}
.btn{
    margin-right: 0.5em;
    margin-bottom: 0.25em;
}
}