.container{
    width: auto;
}
.parte1, .parte2{
    display: inline-block; 
    text-align: justify;
} 
.img-proyecto{
    box-shadow: 10px 10px 30px #333;
}
.parte2{
  
    vertical-align: top;
}
/* .li{
    margin-right: 5%;
} */
#talleres > * {
    
    width: 100%;
    max-width: 100%;
    margin-left: 3%;
}
.row{
    padding: 3%;
}