
body {
    font-family: monospace;
    /* background-color:#77a28f; */
    background-image: linear-gradient(to bottom right,#77a28f, rgb(207, 97, 150));
    overflow-x: hidden;
    width: 100%;
    
    }
#nombre{
    color: #333;
}
h1, h2, p {
     color: #333
    ;
 }   
 .nombre {
    font-family: Georgia, serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #333;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}
section {
    border-style: solid;
    border-color: #ec8f66;
    border-width: 3px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px
    
}
.ng-valid:not(form).ng-touched   {
    border-left: 5px solid #42A948; /* green */
  }
 
.ng-invalid:not(form).ng-touched  {
    border-left: 5px solid #a94442; /* red */
  }
  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

@media (max-width: 575px) {
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
body {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
h1, h2, h4{
    text-align: center;
}
}