<section>
<div class="row">
    <div class="container">
    <h1>Hard Skills</h1>
        <div id="botonesHard">
            <div class="btn-group" role="group" ></div>
         <button type="button" class="btn btn-outline-light">
            <i class="bi bi-pencil-fill"></i></button>   
         <button type="button" class="btn btn-danger">
            <i class="bi bi-trash"></i></button>
        </div>   
        
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            title="HTML"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/CSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            title="CSS"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/javascript.png'"
            [showImage]="true"
            [imageHeight]="70"
            title="Javascript"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>
<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/ingles.png'"
            [showImage]="true"
            [imageHeight]="70"
            title="Inglés"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/Angular1.png'"
            [showImage]="true"
            [imageHeight]="70"
            title="Angular"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/git.png'"
            [showImage]="true"
            title="Git/Github"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>
<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/mysql.png'"
            [showImage]="true"
            title="MySQL"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/netbeans.png'"
            title="IDE Netbeans"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/bootstrap.png'"
            title="Bootstrap"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>
<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/photoshop2.png'"
            [showImage]="true"
            title="Adobe Photoshop"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/office1.png'"
            [showImage]="true"
            title="Microsoft Office"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'../assets/imagenes/protools3.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            title="AVID ProTools"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#476478 '"
            [innerStrokeColor]="'#3a4057  '"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>
</section>
